## External stuff ##
bower_components/
node_modules/
vendor/

## Impact stuff ##
impact/
tools/
weltmeister/
weltmeister.html

## Project stuff ##
media/
server*

## Documentations ##
docs/
out/

## Quick links ##
*.bat
*.lnk

## Temporary stuff ##
*.log

## OS-specific stuff ##
.DS_Store
Thumbs.db
